.footer {
    background-color: #DBFF00;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:black
}

.footer i {
    padding-right: 1rem;
}

.footer a p:hover {
    transition: color 0.3s ease;
    color: #FFFFFF; /* Colore al passaggio del mouse */
}
