.navbar {
    min-height: 54px;
    padding: 1rem;
    background-color: #777777;

}
  
.navbar i {
    margin-right: 15px;
}

.navbar-links {
    text-align: start;
}

@media (min-width: 768px) {
    .navbar-links {
        text-align: end;
    }
}

.navbar-links a {
    padding-right: 1rem;
    text-decoration: none;
}
