.navbar {
    background-color: #777777;
    min-height: 54px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-container {
    justify-content: space-between;
}

.navbar-links-column {
    display: none;
    flex-direction: column;
    flex-basis: 100%;
}

.navbar-links a {
    padding-right: 1rem;
    text-decoration: none;
}

#navbar-hamburger-checkbox {
    display: none;
}

.navbar-hamburger-column {
    display: block;
    text-align: right;
}

.navbar-hamburger {
    font-size: 1.5em;
    color: #FFFFFF; 
    cursor: pointer;
}

#navbar-hamburger-checkbox:checked + .navbar-hamburger-column + .navbar-links-column {
    display: flex;
}

@media (min-width: 768px) {
    .navbar-links {
        text-align: end;
    }

    .navbar-links-column {
        display: block;
        flex-basis: auto;
    }

    .navbar-hamburger-column {
        display: none;
    }
}

